@charset "utf-8";
@import "../core";

$img-nav-url:   #{$img-url}#{'nav/'}      !default;
$img-login-url: #{$img-url}#{'login/'}    !default;

/* index */
#app {
    height: 100%;
    position: absolute;
    .#{$prefix}-header {
        padding:            10px;
        border-bottom:      1px #ccc solid;
    }

    .#{$prefix}-container {
        padding:                10px;
    }

    .#{$prefix}-404 {
        color:              red;
        font-size:          20px;
    }
}
.xj-cursor{
    cursor: pointer;
}
.card-content {
    margin-top: 30px;
    margin-left: 130px;
}
.card.container{
    width: 150px;
    height: 200px;
    text-align: center;
    color: #000000;
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    border: 1px solid #ddd;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    .cardImg{
        height: 80px;
        line-height: 80px;
        text-align: center;
        img{
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
    }
    .content {
        text-align: center;
        .header{
            font-size:24px;
        }
        .meta {
            font-size: 14px;
        }
        .discription{
            font-size: 12px;
        }
    }
    .heart {
        cursor: pointer;
        background: url("../../../assets/images/global/collection.svg") no-repeat;
    }
    .extra {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        font-size: 12px;
        .right {
            margin-right: 10px;
        }
        .likeNum {
            font-size: 12px;
            width: 66px;
            display: inline-block;
            text-align: right;
        }
    }
    #addUserBtn {
        margin-top: 30px;
    }
}
.wxj-header{
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 2px 6px 2px #ddd;
    z-index:2;
    position: relative;
    .logout-icon {
        float: right;
        width: 30px;
        position: relative;
        top: 15px;
        right: 15px;
    }
}
.wxj-main-nav {
    width: 120px;
    height: 100%;
    position: absolute;
    float: left;
    background-color: #000000;
    z-index: 1;
    color: #fff;
    .user-menu {
        background: url("../../../assets/images/global/menu-user.svg") no-repeat 50% 0;
    }
    .todo-menu {
        background: url("../../../assets/images/global/menu-todo.svg") no-repeat 50% 0;
    }
    .graph-menu {
        background: url("../../../assets/images/global/menu-graph.svg") no-repeat 50% 0;
    }
    .common-menu{
        height: 80px;
        line-height: 80px;
        text-align: center;
        margin-top: 30px;
    }
}
